<div *ngIf="registerFlag; else finalBlock">
    <h1>Register Here</h1>
    <form (ngSubmit)="abc(registerForm)" [formGroup]="registerForm">
        <h3>
            Customer ID: <input type="text" name="customerID" formControlName="customerID"> <br>
            Username: <input type="text" name="username" formControlName="username"> <br>
            Password: <input type="text" name="password" formControlName="password"> <br>
            Confirm: <input type="text" name="confirmPass" formControlName="confirmPass"> <br>
            AccountNo: <input type="number" name="accountNo" formControlName="accountNo"> <br>
            <br>
            <input type="submit" value="SUBMIT" [disabled]="registerForm.invalid">
            <input type="reset" value="RESET">
        </h3>
    </form>
</div>
<ng-template #finalBlock>
    Welcome
</ng-template>
