/* You can add global styles to this file, and also import other style files */
h1{
    color:darkgoldenrod;
    text-align: center;
}

h2{
    color:gold ;
    text-align: center;
}

h3{
    color:darkorange;
    text-align: center;
}